* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --primary: #30348c;
    --primary-hover:#484b94;
    --accent:#208ccc;
    --white: #ffffff;
}
main{
    display: flex;
    flex-direction: column;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
header {
    width: 100%;
    height: 15vh;
    position: fixed;
    background-color:var(--white);
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 15%);
    z-index: 3;
}
.nav-container{
    display: flex;
    align-items: center;
    width: 90%;
    height:100%;
    margin: auto;
}
.header-pushdown{
    height: 15vh;
}
nav{
    flex:1;
}
ul{
    list-style: none;
}
h3{
    font-size: 1.85714286em;
    font-weight: 700;
}
.logo-img img{
    width: 100%;
    height: 100%;
}
.logo-img {
    width: 90%;
    height: 100%;
    flex: 1;
}
.c-card{
    padding: 20px 20px 20px 30px !important;
    width: 80%;
    align-items: center;
    background-color: var(--accent);
    color: var(--white);
    gap: 35px;
    margin-bottom: 30px;
}
.c-card .span{
    font-size: 17px;
}
.logo{
    text-transform: uppercase;
    flex: 3;
}
.nav-links{
    justify-content: space-around;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    color:#5f5f79;
}
.nav-link:hover{
    border-bottom: 1px solid #5f5f79;
}
.logo-container{
    height: 100%;
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.logo-container,.nav-links{
    display: flex;
}
section, .footer-container{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}
.cover {
    min-height: 90vh;
    background-position: bottom;
    background-image: url(./img/background-blob.svg);
    background-repeat: no-repeat;
    background-size: contain;
    flex: 1;
}
.small-medium-sec h1, .small-medium-sec h2{
    color:var(--white)
}
h1{
    font-size: 55px;
    font-weight: bold;
}
 h2{
    font-size: 50px;
    font-weight: bold;
}
p {
    padding:10px 0px 10px 0px;
}
.header-text h1{
    font-size: 35px;
    font-weight: bold;
}
.centre-align-text{
    
    text-align: center;
}
button{
    border: none;
    height: 50px;
    width:150px;
    cursor: pointer;
    font-size: 16px;

}
.sec-img img{
    width: 90%;
    margin: auto;
}
.cta, .cta-outline{
    padding:50px 0px 50px 0px;   
}
.cta button{
    border: none;
    background-color: var(--primary);
    color: var(--white);

}
.cta-outline button{
    background-color: var(--white);
    color: var(--primary);
}
.index-sec{
    display: flex;
    flex-direction: column;
    margin: 0px 0px auto 0px;
    padding-bottom:0px;
    width: 100%;
    height: 85vh;
    background: linear-gradient( 
        253deg
         , var(--primary) 0%, rgb(29 29 160) 35%, rgba(0,212,255,1) 100%);
}
.home{
    display: flex;
    flex-direction: row;
    width: 93%;
    height: 100%;
    align-items: center;
    right: 0;
    background: url(./img/IMG-20210729-WA0005-removebg-preview.png);
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

}
.service-card{
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
    width: 100%;
    box-shadow: 6px 8px 15px #ededed;
    border-left: 2px solid var(--primary);
    transition: transform .2s;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap:30px;
  }
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .e-section, .h-section ,.h-section-a{
    padding: 30px;
  }
  .h-section{
    background-color: #fbfbfb;
  
  }
  .h-section-a{
    background-color:var(--accent);
    color:var(--white);
  }
  footer{
    margin-top: 50px;
    height: 35vh;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
  }
  .service-card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .copy-right{
      text-align: center;
      color:var(--white);
      font-size: 11px;
  }
  .required{
      color:red
  }

  .thank-you-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .blob-container{
      background: url(./img/ThankYou.svg);
      background: url(./img/ThankYou.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 82%;
    width: 100%;

  }

  /**
  About Section Styles
  **/

  .header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin-top: 0px;
    color: var(--white);
    background: linear-gradient( 
        253deg
         , var(--primary) 0%, rgb(29 29 160) 35%, rgba(0,212,255,1) 100%);
  }

  .medium-text-sec{
      flex:2;
  
  }
  .small-text-sec{
      flex:1;
  }
  .small-medium-sec{
    flex: 1.5;
  }
  .center-text-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 72%;
    margin: auto;
  }
  section{
    margin: 40px auto 40px auto;
  }
.about-content p {
    padding: 0px 0px 10px 0px;
}
.mission,.values,.vision{
    flex:1;
    justify-content: center;
    align-items: center;
}
.company-values{
    align-items: end;
}
.sec-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0px 0px 0px;
}
.sec-content ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-content ul li,.small-text-sec ul li{
    padding:20px 0px 0px 0px;
}
.align-items-start{
    align-items: start !important;
}
  /**
  Footer
  **/

  .footer-container{
    color: var(--white);
    align-items: unset;
    padding-top: 20px;
    gap: 10px;
  }
  .footer-logo,.footer-company-container,.contact-information{
      flex:1;
      margin: 20px 0px 10px 0px;
  }
  .footer-company-container .footer-links li a{
      color:var(--white);
      text-decoration: none;
  }
  .footer-header{
    border-bottom: 1px solid var(--primary);
    width: fit-content;
  }
  .footer-links{
      padding:10px 0px 0px 0px;
  }
  .footer-links li{
      padding: 0px 0px 5px 0px; 
  }
  .icon-list-item{
    display: flex;
    gap: 10px;
    padding: 10px 0px 0px 0px;
  }
  .icon-list-item .fas{
    padding: 3px 0px 0px 0px;
  }
  
  .full-height{
      height: 100%;
  }
  .full-width{
      width: 100%;
  }
  .margin-left-25{
    margin-right: 25px;
  }
  .margin-right-25{
    margin-left: 25px;
  }
  .no-margin-top-bottom{
      margin-top: 0px !important;
      margin-bottom: 0px !important;
  }
button .fas{
    font-size: 14px;
    margin-left: 20px;
}

.service-card:hover{
    background-color: var(--primary);
    color:var(--white);
    transform: scale(1.02);
}
button:hover{
    background-color: var(--primary-hover);
    color:var(--white)
}
.nav-active{
    transform: translateX(0%) !important;
}
input[type=text],input[type=email], select, textarea {
    width:100%; 
    padding: 18px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
 
form{
    display: flex;
    flex-direction: column;
    
}
.sec-header{
    padding: 30px 0px 30px 0px;
}

@media screen and (max-width: 1356px){

    h2 {
     font-size: 45px;
    }
    .logo-img{
    background-position: left;
    }
    .c-card{
        width: 100%;
    }
    .sec-content{
        padding: 0px;
    }
    .sec-img img{
        width: 100%;
    }
    .home{
        width: 75%;
        text-align: center;
        background-image: none;
    }
    .nav-links{
        position: absolute;
        right: 0;
        background: var(--primary);
        flex-direction: column;
        width: 100%;
        height: 85vh;
        top: 15vh;
        align-items: center;
        color: var(--white);
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .line{
        width: 30px;
        height:3px;
        background: #000;
        margin: 5px;
    }
    .hamburger{
        display: ;
        position:absolute;
        cursor:pointer;
        right:5%;
        top:50%;
        transform: translate(-5%,-50%);
    }
    .nav-link{
        color:var(--white);
    }
    section, .row,.footer-container{
        flex-direction: column;
    }
    .h-section, .h-section-a{
        padding: 30px;
    }
    .cta{
    align-items: center;
    justify-content: center;
    display: flex;
    }
    .logo{
        display: none;
    }
    .company-values .mission,
    .company-values .values,
    .innovation
    {
        margin-bottom: 20px !important;
    }
    .index-sec .margin-left-25 {
        margin-right: 0px;
    }
    .margin-left-25 {
        margin-right: auto;
    }
    footer{
        height: 60vh;
    }
    .index-sec .medium-text-sec{
        display: none;
    }
    .index-sec{
        background-image: url(./img/Ayakha-4-removebg-preview.png);
        background-position: inherit;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .small-medium-sec h1, .small-medium-sec h2{
        color:#000;
    }
    .cta-outline button{
        background-color: var(--primary);
        color: var(--white);
    }
}