* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
header {
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: #FFF;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 15%);
}
.nav-container{
    display: flex;
    align-items: center;
    width: 90%;
    height:100%;
    margin: auto;
}
.header-pushdown{
    height: 10vh;
}
nav{
    flex:1;
}
ul{
    list-style: none;
}
h3{
    font-size: 1.85714286em;
    font-weight: 700;
}
.nav-links{
    justify-content: space-around;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    color:#5f5f79;
}
.nav-link:hover{
    border-bottom: 1px solid #5f5f79;
}
.logo-container{
  flex: 1;
}
.logo-container,.nav-links{
    display: flex;
}
section, .footer-container{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}
.cover {
    min-height: 90vh;
    background-position: right;
    background-image: url(./blob.svg);
    background-repeat: no-repeat;
}
.cover{
    flex: 1;
}
h1{
    font-size: 55px;
    font-weight: bold;
}
 h2{
    font-size: 45px;
    font-weight: bold;
}
p {
    padding:10px 0px 10px 0px;
}
.header-text h1{
    font-size: 35px;
    font-weight: bold;
}
.centre-align-text{
    
    text-align: center;
}
button{
    border: none;
    height: 50px;
    width:150px;
    cursor: pointer;
    font-size: 16px;

}
.cta{
    padding:50px 0px 0px 0px;   
}
.cta button{
    border: none;
    background-color: rgba(0, 0, 255, 0.687);
    color: #fff;

}
.cta-outline button{
    border:1px solid rgba(0, 0, 255, 0.687);
    color:rgba(0, 0, 255, 0.687);
    background-color: #fff;
}
.about-services{
    display: flex;
    flex-direction: column;
    padding: 40px 0px 40px 0px;
    gap: 30px;
    width: 100%;
}
.service-card{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
    width: 80%;
    margin: auto;
    box-shadow: 6px 8px 15px #ededed;
    border-left: 2px solid rgba(0, 0, 255, 0.687);
    transition: transform .2s;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .h-section{
    background-color: #fbfbfb;
  }

  footer{
    margin-top: 50px;
    height: 35vh;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.687);
  }
  .service-card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  /**
  About Section Styles
  **/

  .header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 30vh;
    color: #fff;
    background-color: rgba(0, 0, 255, 0.687);
  }

  .medium-text-sec{
      flex:2;
  
  }
  .small-text-sec{
      flex:1;
  }
  .small-medium-sec{
    flex: 1.5;
  }
  .center-text-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 72%;
    margin: auto;
  }
  section{
    padding: 40px 0px 40px 0px;
  }
.about-content p {
    padding: 0px 0px 10px 0px;
}
.mission,.values,.vision{
    flex:1;
    justify-content: center;
    align-items: center;
}
.company-values{
    align-items: end;
}
.sec-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0px 0px 0px;
}
.sec-content ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-content ul li,.small-text-sec ul li{
    padding:20px 0px 0px 0px;
}
.align-items-start{
    align-items: start !important;
}
  /**
  Footer
  **/

  .footer-container{
    color: #fff;
    align-items: unset;
    padding-top: 20px;
  }
  .footer-logo,.footer-company-container,.contact-information{
      flex:1;
      margin: 20px 0px 10px 0px;
  }
  .footer-company-container .footer-links li a{
      color:#fff;
      text-decoration: none;
  }
  .footer-header{
    border-bottom: 1px solid #fff;
    width: fit-content;
  }
  .footer-links{
      padding:10px 0px 0px 0px;
  }
  .footer-links li{
      padding: 0px 0px 5px 0px; 
  }
  .icon-list-item{
    display: flex;
    gap: 10px;
    padding: 10px 0px 0px 0px;
  }
  .icon-list-item .fas{
    padding: 3px 0px 0px 0px;
  }
  

  .full-width{
      width: 100%;
  }
  .margin-left-25{
    margin-right: 25px;
  }
  .margin-right-25{
    margin-left: 25px;
  }
  .no-margin-top-bottom{
      margin-top: 0px !important;
      margin-bottom: 0px !important;
  }
button .fas{
    font-size: 14px;
    margin-left: 20px;
}

.service-card:hover{
    background-color: rgba(0, 0, 255, 0.687);
    color:#fff;
    transform: scale(1.02);
}
button:hover{
    background-color: rgba(54, 54, 251, 0.687);
}